# Data Transformation I

Next, we will begin transforming our dataset by dropping values. Our primary goal of this process is to:

* drop rows with missing data
* drop select columns with overwhelmingly missing data

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part2.md` file.

In [64]:
import pandas as pd
import numpy as np

In [65]:
# TODO: load `data/raw/shopping.csv` as a pandas dataframe

Df = pd.read_csv("../data/raw/shopping.csv")

In [66]:
# TODO: print out the shape of this dataframe for better clarity
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html

Df.shape

(3900, 15)

In [67]:
# TODO: display how many null values are in each column of this dataframe
# Documentation: https://datatofish.com/count-nan-pandas-dataframe/

Df.isna().sum()

Customer ID                  0
Age                        390
Gender                       0
Item Purchased               0
Purchase Amount (USD)        0
Location                   390
Size                         0
Color                        0
Season                       0
Review Rating             2469
Shipping Type                0
Promo Code Used              0
Previous Purchases           0
Payment Method               0
Frequency of Purchases    2340
dtype: int64

In [68]:
# TODO: it looks like there is roughly 65% of data missing "Frequency of Purchases". Drop this column, as it is mostly empty and unneeded for our analysis.
# In addition, also drop "Customer ID" as this column is also unnecessary
# Reassign this dropped dataframe as a new variable
# Documentation: drive.google.com/drive/folders/1pAWY1JqIQw26uhtT272AoDDeq7jtbkm2

new_Df = Df.drop(['Frequency of Purchases', 'Customer ID'], axis =1)

In [69]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3900, 13)"

new_Df.shape

(3900, 13)

In [70]:
# TODO: while "Review Rating" is also mostly empty, we are interested in figuring out why some users
# leave reviews and others don't. 

# Therefore we will NOT drop this column. Instead, let's reassign 
# all missing values in "Review Rating" with "Missing", and all non-na values as "Present"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html

new_Df["Review Rating"] = new_Df["Review Rating"].\
    where (new_Df["Review Rating"].isna(), "Present").\
    where (new_Df["Review Rating"].notna(), "Missing")

In [71]:
# TODO: Now that we've dropped and transformed our columns, drop the remaining rows that contain missing values
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

new_Df.isna().sum()
new_Df.dropna()

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
2,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,Present,Standard,No,0,Credit Card
4,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,Missing,Standard,No,0,Credit Card
5,26.0,Male,Leggings,23.595139,Nevada,XL,Brown,Winter,Missing,Standard,No,3,Credit Card
6,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,Present,Standard,No,0,Credit Card
7,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,Present,Express,No,0,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3894,39.0,Male,Running Shoes,55.636680,Kansas,L,White,Summer,Missing,2-Day Shipping,Yes,11,Venmo
3895,43.0,Female,Sunglasses,61.610602,Colorado,S,Burnt orange,Fall,Missing,2-Day Shipping,Yes,7,Venmo
3896,37.0,Male,Pajamas,44.600556,Alaska,S,Aubergine,Winter,Present,2-Day Shipping,Yes,20,Venmo
3898,39.0,Male,Hoodie,45.343778,Illinois,S,Brick red,Fall,Missing,2-Day Shipping,Yes,3,Venmo
3899,21.0,Female,Gloves,49.439181,North Dakota,M,Aubergine,Winter,Present,2-Day Shipping,Yes,2,Venmo

In [72]:
# TODO: display how many null values are in each column of this dataframe
# validate that each column has no missing values

null_count = new_Df.isnull().sum().sum()
print('Number of null values:', null_count)

Number of null values: 780

In [73]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3158, 13)"

new_Df.shape

(3900, 13)

In [74]:
# TODO: print out the first 5 rows of this dataframe for validation

new_Df.head

<bound method NDFrame.head of        Age  Gender Item Purchased  Purchase Amount (USD)      Location Size  \
0      NaN    Male         Jacket              30.904467         Maine    M
1     21.0  Female       Backpack              31.588259           NaN    L
2     31.0    Male       Leggings              24.231704        Nevada    M
3      NaN    Male        Pajamas              33.918834      Nebraska    M
4     38.0    Male     Sunglasses              36.545487        Oregon    S
...    ...     ...            ...                    ...           ...  ...
3895  43.0  Female     Sunglasses              61.610602      Colorado    S
3896  37.0    Male        Pajamas              44.600556        Alaska    S
3897   NaN  Female        Handbag              41.781965       Wyoming    M
3898  39.0    Male         Hoodie              45.343778      Illinois    S
3899  21.0  Female         Gloves              49.439181  North Dakota    M

             Color  Season Review Rating   Shipping Type Promo Code Used  \
0     Burnt orange    Fall       Present        Standard              No
1        Turquoise  Winter       Present         Express              No
2      Terra cotta  Winter       Present        Standard              No
3            Black  Winter       Missing        Standard              No
4        Aubergine  Summer       Missing        Standard              No
...            ...     ...           ...             ...             ...
3895  Burnt orange    Fall       Missing  2-Day Shipping             Yes
3896     Aubergine  Winter       Present  2-Day Shipping             Yes
3897       Fuchsia  Summer       Missing        Standard             Yes
3898     Brick red    Fall       Missing  2-Day Shipping             Yes
3899     Aubergine  Winter       Present  2-Day Shipping             Yes

      Previous Purchases Payment Method
0                      0    Credit Card
1                      1    Credit Card
2                      0    Credit Card
3                      2    Credit Card
4                      0    Credit Card
...                  ...            ...
3895                   7          Venmo
3896                  20          Venmo
3897                  13          Venmo
3898                   3          Venmo
3899                   2          Venmo

[3900 rows x 13 columns]>

In [75]:
# TODO: write this newly transformed dataset to the `data/processed` folder. Name it "shopping_cleaned.csv" 
# Be sure to not include an additional index when writing this csv file
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

from pathlib import Path  
filepath = Path('data/processed.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
new_Df.to_csv(filepath)